@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');
* {
    overflow-x:hidden;
}
#container {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    /* width: 100vw; */
    padding-top:5vw;
}
.desc{
    display: inline-flex;
    justify-content: center;
}
#welcome {
    font-family: 'Karla', sans-serif;
    color: var(--secondary);
    font-size: 60px;
    font-size: 7vw; 
    height: fit-content;
    text-align: center;
    padding-top: 40px;
    margin:0px;
}
h3 {
    color: var(--highlight);
    font-size: 30px;
    font-size: 3vw; 
    width: 70%;
    text-align: center;
}
#subheader{
    display: inline-flex;
    justify-content: center;
    padding-bottom:30px;
}
*{
    background-color:var(--primary);
}
#login-button {
    margin-top:20px;
    display: inline-flex;
    justify-content: center;
    width: 20vw;
    border-style: solid;
    border-color: var(--button);
    background-color: var(--button);
    color: var(--primary);
    text-align: center;
    height: 7vh;
    line-height: 6.5vh;
    font-size: 20px;
    font-size: 2vw;
    padding: 0 0 0 0;
    border-radius: 10px;
    will-change: transform;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}
@media (max-width: 700px) {
    #container > * {
        padding-bottom: 20px;
    }
    #welcome {
        /* margin: 15px; */
        font-size: 20vw;
        text-align: center;
        width: 100%;
    }
    #login-button {
        height: 20vw;
        width: 50vw;
        font-size: 6vw;
        line-height: 20vw;
        /* margin-top:5vh; */
        overflow-y: hidden;
        transition: none;
        padding-bottom: 10px;
    }
    h3 {
        font-size: 30px;
        font-size: 5vw;
    }
    #spotify {
        position: absolute;
        left: 0px;
        display: flex;
        flex-direction: column;
    }
    #disconnect {
        position: relative;
        align-items: center;
    }
}
#login-button:hover {
    transform: translateY(-2px);
    background-color: var(--primary);
    color: var(--button);
    border-style: solid;
    border-color: var(--button);
    cursor: pointer;

}
#login-button:active{
    transform: translateY(0px);
}
