form {
    font-family: 'Karla', sans-serif;
    color: var(--secondary);
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}
input {
    accent-color: var(--highlight);
}
h4 > form {
    margin-bottom: 0px;
}

label {
    margin: 20px;
    color: var(--highlight);
}
